body {
    background-color: black;
    color:aliceblue

}
footer {
    background-color: rgb(170, 170, 170);
    color:black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center;
    font: 0.6rem;
}