body {
    background-color: #38000e;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
footer {
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    text-align: center;
    font: 0.6rem;
    margin-top: 0.5rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}
.cartão{
    margin: 1rem 1rem;
    background-color: rgb(0, 0, 0)
    height: 20rem;
    flex-grow: 1 0 calc(100% - 1rem);
    flex-basis: calc(33% - 6rem);
}
.cartão_conteudo{
    text-align: center;
    background-color:var(--card-front-color);
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}
.cartão_conteudo h3{
    color:var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 3vw;
    backface-visibility: hidden;

}
.cartao_conteudo_resposta{
    text-align: center;
}
:root {
    --text-color: #ffffff;
    --card-front-color: #830016;
    --card-back-color: #38000e;
}

.cartão_conteudo_pergunta p{
    color: var(--text-color);
    font-weight: 500;
}

.cartão_conteudo_resposta p{
    color: var(--card-back-color);
    font-weight: 700;
}

.cartão:hover .cartão_conteudo {
    transform: rotateY(180deg);

}

.cartão_conteudo_pergunta, .cartão_conteudo_resposta{
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width:  100%;
    box-sizing: border-box;
}

.cartão_conteudo_resposta{
    transform: rotateY(180deg);
    background-color: #830016;
    border: 4px solid var(--card-back-color);
}
.cartão_conteudo p{
    margin: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 3.8vw;
}
 @media (max-width:560px ) {
    body{
        background: url('img/bg-mobile.webp');
    }
 }